* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #274d28;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 10vh;
    height: 100vh; 
    color: antiquewhite;
}

h1 {
    font-size: 60px;
    text-align: center;

}

h5 {
    font-size: 30px;
    text-align: center;
}
